* {
    user-select: none !important;
}

#loginPage {
    display: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.loginWallpaper {
    display: block;
    background: url('../img/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.blur {
    transition: all 1s;
    filter: blur(20px) url(#filter);
}

.dump {
    position: absolute;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    opacity: .3;
    top: 0;
    left: 0;
}

.clockDetails {
    position: absolute;
    display: flex;
    width: 800px;
    height: 170px;
    bottom: 5rem;
}

.time {
    bottom: 3.3rem;
    letter-spacing: .2rem;
    font-size: 7rem;
    font-weight: 100;
}

.date {
    font-size: 3.5rem;
    letter-spacing: .05rem;
    font-weight: 300;
    top: 6rem;
}

.time, .date {
    left: 1.9rem;
    display: block;
    position: absolute;
    color: white;
    font-family: 'SegoeUI';
}
  
.sysIcons {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 50px;
    bottom: 1rem;
    right: 1.5rem;
}

.loginIcons {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}


.iconBattery {
    filter: invert();
    width: 30px;
    height: 30px;
}

.loginPageContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dropzone {
    position: absolute;
    width: 100%;
    height: 35%;
    top: 0;
    left: 0;
}

section.loginDetails {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
}

.mainContent {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 15rem;
}

.profileImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.usernameText {
    font-family: 'SegoeUI';
    text-align: center;
    font-size: 2.5rem;
    margin-top: .5rem;
    font-weight: 300;
    user-select: none !important;
    outline: none;
}

.coverBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    border: 2px solid white;
    cursor: pointer;
}

.btnLogin {
    cursor: pointer;
    background: rgba(170, 170, 170, 0.25);
    color: white;
    border: 1px solid rgba(0,0,0,.5);
    height: 60px;
    width: 120px;
}

.btnLogin:hover {
    box-shadow: inset 0px 0px 0px 2px rgba(245, 245, 245, 0.55) ;
}

.sysIconsLogin {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 50px;
    bottom: 1rem;
    right: 1.5rem;
}

.sysIconsLogin span {
    margin-top: .5rem;
    margin-left: .5rem;
}

.areaButton {
    display: flex;
    align-items: center !important;
    justify-content: space-around !important;
    height: 100px;
}

.logginInMessage {
    display: none;
    transition: all 1s ease-in-out !important;
}

.logginInLoading {
    width: 40px;
    height: 40px;
}

.textWelcome {
    font-family: 'SegoeUI';
    font-size: 1.5rem;
}

.separator {
    visibility: hidden;
    width: 15px;
    height: 15px;
}

.modalErrorUserNotFound {
    position: absolute;
    display: none;
    width: 400px;
    height: 220px;
    background: white;
    align-items: center;
    justify-content: center;
    top: calc(75% - (220px / 2));
    left: calc(75% - (400px / 2));
    border: 1.5px solid #8f8f8f;
    font-family: 'SegoeUI';

}

.modalErrorUserNotFound main {
    width:100%;
    height: 100%; 
}

main .errorDivTitle {
    height: 15%;
    width: 100%;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.errorTitle {
    font-size: .9rem;
    font-family: 'SegoeUI';

}

.errorContent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
    padding: 0 20px;
}

.errorImage {
    height: 30px !important;
    width: 30px !important
}

.textError {
    margin-left: 15px;
    text-align: left;
    max-width: calc(100% - (30px + 20px + 15px));
    font-size: .8rem;
}

.subErrorDivision {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 20px;
    width: 100%;
    height: 25%;
    background: #f0f0f0;
}

.closeErrorModalBtn {
    width: 80px;
    height: 25px;
    border-radius: none;
    outline: none;
    border: 2px solid #296ea8;
}

button:hover, .closeErrorModal:hover {
    cursor: pointer;
}

.closeErrorModal {
    width: .9rem;
    height: .9rem;
    filter: brightness(-100)
}