/* Center the loader */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

html, body {
    height: 100%;
    width: 100%;
    background: black;
}

.containerLoader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5rem;
    background-color: black !important;
    
}

.windowsLogo {
    display: block;
    width: 220px;
    height: auto;
    margin-top: 11.6rem;
}

#loader {
    display: flex;
    flex-direction: row;
    margin-bottom: 10.5rem;
    width: 56px;
    height:56px;
  }