/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* colors, sizes and another variables */
:root {
    --background: #282a36;
    --currentLine: #44475a;
    --comment: #6272a4;
    --foreground: #f8f8f2;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --red: #ff5555;
    --purple: #bd93f9;
    --pink: #ff79c6;
    --yellow: #f1fa8c;
    --orange: #ffb86c;
    --asteroid: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --margo: linear-gradient(to right, #ffefba, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --midnightCity: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --royal: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --dull: linear-gradient(to right, #c9d6ff, #e2e2e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --cinnamint: linear-gradient(to right, #4ac29a, #bdfff3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --royalBlue: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(50, 100, 240, .7), rgba(0, 0, 0, 0));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

html, body {
    display: block;
    height: 100%;
    width: 100%;
    background: var(--background);
    color: var(--foreground);
}

span.logo {
    font-size: 1.5rem;
    font-weight: 600;
}

span.logoGradient {
    background: var(--cinnamint);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    display: block;
    width: 100%;
    height: 65px;
}

nav {
    display: flex;
    height: 100%;
    margin: 0 2rem;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

ul li {
    margin: 0 2rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-align: center;
}

ul li:first-of-type {
    margin-left: 1rem !important;
}

ul li:last-of-type {
    margin-right: 0rem !important;
}

ul li#docs:hover {
    color: var(--cyan);
}

ul li#about:hover {
    color: var(--green);
}

ul li#kofi:hover {
    color: var(--yellow);
}

.fullContainer {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    width: 800px;
    height: 600px;
    background: var(--royal);
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(1rem + 21px);
}


.controlsTitle {
    margin-top: .5rem;
    z-index: 9999;
}

.close {
    display: flex;
    align-items: center;
    margin: .5rem .5rem 0 0;
    justify-content: center;
    background-color: var(--red);
    font-weight: 500;
    border-radius: 50%;
    color: var(--foreground);
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.close .closeIcon {
    user-select: none;
    visibility: hidden;
}

.close:hover .closeIcon {
    user-select: none;
    width: 8.5px;
    height: 8.5px;
    filter:invert();
    opacity: .8;
    visibility: visible;
}

.modalContent {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.modalCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(255,255,255, .3);
    background: linear-gradient(to top, rgba(50, 100, 240, .1), rgba(255,255,255, .07));
    height: 250px;
    aspect-ratio: 1;
    margin:0;

    border-radius: .639rem;
}

.modalCard:hover {
    transition: .5s all ease-in-out;
    background: linear-gradient(to top, rgba(50, 100, 240, .188), rgba(255,255,255, .1));
    border: 1px solid rgba(255,255,255, .6);
}

.modalCardImage {
    margin: auto;
    filter:invert();
    width: 100px;
    height: auto;
}

.modalCardTitle {
    font-size: 1rem;
    margin-bottom: 3rem;
}

.blur {
    filter: blur(1px)
}

hr {
    display: block;
    margin: auto;
    width: 100%;
    border: 0;
    height: 1px;
    background: var(--royalBlue);
    opacity: .5;
}

.hidden {
    display: none !important;
}

a, a:visited, a:hover {
    color: var(--foreground);
    text-decoration: none;
}

.hrVertical {
    height: 100px;
    width: 1px;
    border: 0;
    background: var(--royalBlue);
}

.bigLogo {
    font-size: 3rem !important;
}

.license {
    font-size: .8rem;
    text-align: justify;
    max-width: 80%;
}

.copyright {
    font-size: .8rem;
    text-align: center;
    max-width: 80%;
}

.col {
    flex-direction: column !important;
}

.fakeBtn {
    width: 30px;
    height: 30px;
    background-color:rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

main {
    display: flex;
    width: 100%;
    height: calc(100% - 65px);
}

section {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.logoWhite {
    filter: brightness(200);
}

.mlr1 {
    margin: 0 1rem;
}

.noFilter {
    filter: none;
}

.tagProduction {
    background: var(--green);
    padding: .125rem;
    border-radius: .250rem;
    padding-left: .350rem;
    padding-right: .350rem;
    color: rgba(0, 0, 0, .5)
}

.tagSoon {
    background: var(--red);
    padding: .125rem;
    padding-left: .350rem;
    padding-right: .350rem;
    border-radius: .250rem;
    color: rgba(0, 0, 0, .5)
}

.tooltiptext {
    position: absolute;
    margin-top: 13rem;
    display: none;
    background: var(--foreground);
    padding: .1rem 1.5rem;
    color: rgba(0, 0, 0, .7);
    font-weight: 600;
    border-radius: .25rem;
}

.tooltip:hover > .tooltiptext {
    display: block;
}

@media (orientation: portrait) {
    .modalContent, .container, main, section, nav {
        flex-wrap: wrap;
    }
    nav {
        align-items: center;
        justify-content: center;
    }
    nav span {
        margin: 1rem 0 !important;
    }
    
    .container {
        margin: 2rem 0 !important;
    }

    .modalCard {
        max-height: 200px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        max-height: 82vh;
    }
}

.yellow {
    color: var(--cyan);
}

li#register {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
  
@keyframes shake {
    0% { transform: translate(-1px, -1px) rotate(0deg)}
    33% { transform: translate(-2px, -2px) rotate(1deg)}
    66% { transform: translate(-2px, -2px) rotate(0deg)}
    100% { transform: translate(-1px, -1px) rotate(-1deg)}
}

li#register:hover {
    animation: none;
    animation-iteration-count: infinite;
}

.formArea {
    display: flex;
    border: 1px solid rgba(255,255,255, .3);
    border-radius: .639rem;
    width: 50%;
    height: 75%;
}

.formArea form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

form button, form input[type=text], form input[type=email] {
    background: rgba(255,255,255, .1);
    height: 35px;
    width: 90%;
    border-radius: calc(.639rem / 2);
}

form button {
    border: 1px solid rgb(80, 250, 123, .8);
    background: rgba(80, 250, 123, .25);

    color: var(--green);
    cursor: pointer;
}

form input[type=text], form input[type=email] {
    border: 1px solid rgba(255,255,255, .3);
    color: var(--foreground);
    outline: 0;
    padding: 10px;
}

form input[type=text]::placeholder, form input[type=email]::placeholder {
    color: var(--foreground);
}

form h3 span.draw {
    position: absolute;
    right: 50%;
    margin-top: -2rem;
    font-size: 2rem;
    color: var(--yellow);
}

    #customBtn {
        display: inline-block;
        background: white;
        color: #444;
        width: 190px;
        border-radius: 5px;
        border: thin solid #888;
        box-shadow: 1px 1px 1px grey;
        white-space: nowrap;
      }
      #customBtn:hover {
        cursor: pointer;
      }
      #customBtn span.label {
        font-family: serif;
        font-weight: normal;
      }
      #customBtn span.icon {
        background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 42px;
      }
      #customBtn span.buttonText {
        display: inline-block;
        vertical-align: middle;
        padding-left: 42px;
        padding-right: 42px;
        font: 14px bold;
        /* Use the Roboto font that is loaded in the <head> */
        font-family: 'Roboto', sans-serif;
      }
